/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;;
}

p {
    color: #6C6B6B;
    text-align: justify;
}

a {
    text-decoration: none;
}

.orange-text {
    color: #FD511A;
}

.green-text {
    color: #21B573;
}

.light-black-text {
    color: #413960;
}

.green-round-btn {
    padding: 10px 28px;
    width: 104px;
    background-color: #21B573;
}

.green-round-small-btn {
    padding: 8px 28px;
    font-size: 14px;
    background-color: #21B573;
}

.green-round-btn:hover, .green-round-small-btn:hover {
    background-color: #1c9961;
}

/* Navbar CSS */
.nav-section {
    background-color: #F0FFF0;
}

.nav-item {
    margin: 0 10px;
}

.e-school-logo {
    width: 60px;
}

.logo-text {
    color: #56548C;
    font-size: 24px;
}

/* Top Banner CSS */
.top-banner {
    background-color: #F0FFF0;
}

.top-banner .card {
    background-color: transparent;
    border: none;
} 

/* Categories CSS */
.categories .card {
    background-color: #F8FFFB;
    border: none;
}

/* Courses */
.courses .card {
    border: none;
    border-radius: 18px;
}

.courses .card-footer {
    background-color: transparent;
    border: none;
    color: #585859;
}

.calendar-icon {
    width: 20px;
    height: 20px;
}

/* Testimonial */
.testimonial .card {
    border: none;
}

.client-img {
    width: 150px;
}

/* Footer CSS */
footer {
    background-color: #282531;
}

footer .card {
    background-color: transparent;
    border: none;
}

footer a {
    color: #6C6B6B;
    font-size: 14px;
}

.list-group-item {
    background-color: transparent;
    border:none;
    padding: 0 0 2px 0;
}

footer a:hover {
    color: white;
}


.copyright {
    color: #CDCDCD;
}

.copyright span {
    color: #21B573;
}